@model Web.Models.Computer
@{
    ViewBag.Title = "Добавление товара Компьютеры";
}
    <div class="con12">
        <div class="container12 text-center">
            <h2>Добавление нового товара</h2>
            <form asp-action="createComputers" asp-controller="home" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Название</label>
                    <input type="text" asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label">Модель</label>
                    <input type="text" asp-for="Model" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CPU" class="control-label">Процессор</label>
                    <input type="text" asp-for="CPU" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MotherBoard" class="control-label">Материнская плата</label>
                    <input type="text" asp-for="MotherBoard" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GraphicsCard" class="control-label">Видеокарта</label>
                    <input type="text" asp-for="GraphicsCard" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="HardDisk" class="control-label">Жёсткий диск</label>
                    <input type="text" asp-for="HardDisk" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Цена</label>
                    <input type="number" asp-for="Price" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label">Картинка</label>
                    <input type="file" asp-for="Image" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Добавить товар" class="btn btn-primary " />
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Create">1</a>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="CreateLaptops">2</a>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="CreateProvider">3</a>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="CreateMonitors">4</a>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="CreateManipulators">5</a>
                    </div>
                </div>
            </form>
        </div>
    </div>