@{
    ViewData["Title"] = "Магазин";
}
<div class="head">
    <div class="container">
        <div class="row ">
            <div class="col-xs-6 wow fadeInLeft animated animated" style="visibility: visible; animation-name: fadeInLeft;">
                <h3>Добро пожаловать!</h3>
                <h1>Магазин компьютерной техники Computer Grand</h1>
                <p>В нашем магазине Вы можете найти любую компьютерную технику, комплектующие и разного вида переферию. Также можете осуществить заказ и запись на ремонт</p>
            </div>
        </div>
    </div>
</div>
<div class="Comp">
    <table cellspacing="0" cellpadding="0" id="maket">
        <tr>
            <td id="leftcol">
                <h2>Про информационные технологии и компьютеры</h2>
                <p>
                    На протяжении всей истории существования человека он то и дело пытался совершенствовать мир вокруг, чтобы улучшить свою жизнь сделать ее проще и комфортнее.
                    История создания компьютера – это прежде всего стремление человека изобрести устройство для решения задач, непосильных для человеческого разума. И как показывает практика, задача эта исполнена на "ура".
                    <br><br>
                    Компьютер гранд - магазин компьютерной техники. Основан в 2019 году.
                    В нём Вы можете найти всю необходимую технику, начиная от модулей стациионарного ПК и заканчиваю целыми техническими продуктами.
                    Также наш магазин предоставляет огромный выбор компьютерной переферии. Клавиатуры, мыши, наушники и многое другое будут ждать Вас в нашем магазине.
                </p>
            </td>
            <td>
                <img src="~/image/Comp1.gif" class="gif" />
            </td>
        </tr>
    </table>
</div>
<div class="container2 carousel">
    <div id="carouselExampleIndicators" class="carousel slide d-none d-md-block" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/image/carousel1.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-2">Ноутбуки</h1>
                    <button type="button" class="btn btn-outline-light btn-lg">Посмотреть</button>
                </div>
            </div>
            <div class="carousel-item ">
                <img src="~/image/carousel2.png" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-2">Стационарные ПК</h1>
                    <button type="button" class="btn btn-outline-light btn-lg">Посмотреть</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/image/carousel3.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-2">Переферия для ПК</h1>
                    <button type="button" class="btn btn-outline-light btn-lg">Посмотреть</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

    <div class="container3">
        
            <div class="container-fluid ">
                <div class="row padding info">
                    <div class="offset-lg-2 col-lg-4 mt-3">
                        <h2>Информация о нас</h2>
                        <p><i class="fas fa-home"></i>Мы находимся: г. Ставрополь, ул. Маршала Жукова, 7</p>
                        <p><i class="fas fa-phone"></i>Наш телефон: +7(8652)77-88-11</p>
                        <p><i class="fas fa-clock"></i>График работы: Пн-Пт с 9:00 до 18:00</p>

                    </div>
                    <div class="col-lg-6">
                        <br>
                        <div id="mymap"></div>
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7f81ec1bf36d87131280546faf20360a6ebdca762d4a16e57b5704ff0e77fa8c&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true; id=mymap"></script>
                    </div>
                </div>
            </div>
        
    </div>

