@model IEnumerable<Web.Models.Remont>
@{
    ViewBag.Title = "Список заказов";
}
<div class="con12">
    <div class="container12 text-center">
        <h2>Список заказов</h2>
        <table class="table">
            @foreach (var order in Model)
            {
                <tr>
                    <td class="text-white">@order.NameProduct</td>
                    <td class="text-white">@order.Description</td>
                    <td class="text-white">@order.EmailRem</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="SendMessage">Отправить сообщение</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>